# Database Configuration
DATABASE_URL=sqlite:///./test.db
SYNC_MODELS=false

# LLM API Keys
OPENAI_API_KEY=sk-your-openai-key-here

# Internet search key
TAVILY_API_KEY=tvly-your-tavily-key-here

# Reddit API Keys
REDDIT_USER_SCRIPT=your-reddit-client-id
REDDIT_SECRET=your-reddit-client-secret

