# Database Configuration NEED the +asyncpg part at beggining
DATABASE_URL=postgresql+asyncpg://{Database Url}?sslmode=require&channel_binding=require
SYNC_MODELS=false

# LLM API Keys
OPENAI_API_KEY=sk-your-openai-key-here

# Internet search key
TAVILY_API_KEY=tvly-your-tavily-key-here

